
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>body{  background: url("img/comingsoon.jpg");}
.bgimg {
    background: url("img/comingsoon.jpg");
    min-height: 100%;
    background-size: cover;
     background-repeat: no-repeat;
}
</style>
<div class="container-fluid bgimg" style="margin-top: 14%; margin-bottom:30%">
  <div  class="w3-display-middle">

    <h1 class="w3-flex w3-animate-top" style="text-align: center;color:white;">ABOUT US</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
<br>
	  <div class="row ">
		    <div class="col-lg-11" >
		<p style="margin-left: 100px;margin-right: 100px;color:white; "><br>
		Let's Go is the best online flights,trains,buses,cabs and hotel booking engine in India and also one of the leading air aggregator. Let's Go core value 
		differentiator is delivery of the fast and  trusted user experiences.<br><br>
		Let's Go has the best facilities of booking flights,trains,buses,cabs and hotels with
		 a very user friendly interface.The dashboard is very interactive an
		  users can book easily according to their requirements.The user profile is maintained very
		   efficiently so that the booked flights,trains,cabs and hotels can be checked in case of any query. </p>
		 </div>
	 </div>
<br>
</div>

</div></div>

