
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    background-image: url("comingsoon.jpg");
    
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
</style>


<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    <a><img alt="" src="Dj Las K.jpg"  style="max-width:70px; margin-top: -10px; margin-bottom: -5px;" >
	</a>  
  </div>
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">COMING SOON</h1>
    
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-large w3-center">On Social Media</p>
  </div>
</div>

