<div class="container-fluid" ng-init="init()">
  <div class="table-responsive">
    <table class="w3-table w3-striped">
      <thead>
      <tr>
      <th colspan="2"><h1>Booking Confirmed</h1></th>
      </tr>
      </thead>
      <tbody>
      	<tr>
      		<td>Booking ID</td>
      		<td>{{booking.bookingId}}</td>
      	</tr>
      	<tr>
      		<td>Booking Date</td>
      		<td>{{booking.bookingDate}}</td>
      	</tr>
      	<tr>
      		<td>Transaction ID</td>
      		<td>{{booking.transactionId}}</td>
      	</tr>
      	<tr>
      		<td>Booking Type</td>
      		<td>{{booking.bookingType}}</td>
      	</tr>
      	<tr>
      		<td>Hotel ID</td>
      		<td>{{booking.entityId}}</td>
      	</tr>
      	<tr>
      		<td>Hotel Name</td>
      		<td>{{booking.entityName}}</td>
      	</tr>
      	<tr>
      		<td>City</td>
      		<td>{{booking.source}}</td>
      	</tr>
      	<tr>
      		<td>CheckIn Date</td>
      		<td>{{booking.arrival}}</td>
      	</tr>
      	<tr>
      		<td>CheckOut Date</td>
      		<td>{{booking.departure}}</td>
      	</tr>
      	<tr>
      		<td>CheckIn Time</td>
      		<td>12:00 PM</td>
      	</tr>
      	<tr>
      		<td>CheckOut Time</td>
      		<td>11:00 AM</td>
      	</tr>
      	<tr>
      		<td>Number of Rooms</td>
      		<td>{{booking.noOfPassengers}}</td>
      	</tr>
      	<tr>
      		<td>Price</td>
      		<td>{{booking.fare}}</td>
      	</tr>
      	<tr>
      		<td>Email ID</td>
      		<td>{{booking.userEmailId}}</td>
      	</tr>
      </tbody>
    </table>
  </div>
</div>
